body {
    margin: 0;
    padding: 0;
}

/* Styl nagłówka */
header {
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Styl paska nawigacji */
nav ul {
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #ddd;
    color: black;
}

/* Styl głównej treści */
main {
    padding: 20px;
    min-height: 350px;
}

/* Styl stopki */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #04AA6D;
}