{% extends "base.html" %}

{% block title %}
Import Leków
{% endblock %}

{% block header %}
Witaj, {{ user.username }}!
{% endblock %}

{{% block content %}
    <h1 class="form-heading">Importuj nazwy leków z bazy danych</h1>

    <form method="post" enctype="multipart/form-data" class="form-style">
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv" required>
        <button type="submit" class="submit-button">Importuj</button>
    </form>

    <a href="{% url 'medicines_names_list' %}" class="link-button">Powrót</a>
{% endblock %}