{% extends "base.html" %}

{% block title %}
Dodaj/Edytuj Lek
{% endblock %}

{% block header %}
Witaj, {{ user.username }}!
{% endblock %}

{% block content %}
    <h2 class="form-heading">{% if form.instance.pk %}Edytuj{% else %}Dodaj{% endif %} Lek</h2>
    <form method="post" class="form-style">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Zapisz</button>
    </form>
    <a href="{% url 'medicine_list' %}" class="link-button">Powrót</a>
{% endblock %}
