{% extends "base.html" %}

{% block title %}
Lista Działań Niepożądanych
{% endblock %}

{% block content %}
    <h2 class="form-heading">Lista Działań Niepożądanych</h2>

    <form method="get" action="{% url 'side_effects_list' medicine_id=medicine.id %}" class="form-style">
        <label for="results_per_page">Liczba wyników na stronie:</label>
        <input type="number" id="results_per_page" name="results_per_page" min="1" value="{{ results_per_page }}">
        <input type="hidden" name="medicine_id" value="{{ medicine.id }}">
        <button type="submit" class="submit-button">Zmień</button>
    </form>

    <h1 class="form-heading">Side Effects List for {{ medicine.name }}</h1>

    <ul>
        {% for side_effect in side_effects %}
            <li>{{ side_effect.description }}</li>
        {% empty %}
            <li>No side effects found for this medicine.</li>
        {% endfor %}
    </ul>

{% endblock %}