{% extends "base.html" %}
{% load static %}

{% block title %}
    Czytnik recept
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/dropzone.min.js' %}" defer></script>
    <script src="{% static 'js/my_dropzone.js' %}" defer></script>
{% endblock %}

{% block header %}
    Witaj, {{ user.firstname }}!
{% endblock %}

{% block content %}
    <form action="upload/" id="my-dropzone" method="POST" enctype="multipart/form-data" class="dropzone">
        {% csrf_token %}
        <input type="file" id="file-input" name="my_file" style="display: none;" />
        <div id="drop-area">
            <p>Przeciągnij i upuść plik tutaj lub kliknij, aby wybrać plik</p>
        </div>
        <button type="submit">Wgraj plik</button>
    </form>
    <div id="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}



