{% extends "base.html" %}
{% load static %}

{% block title %}
Start
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}" defer></script>
{% endblock %}

{% block header %}
Witaj w MedicinesApp!
{% endblock %}

{% block content %}
    <p class="main-home"></p>
    <!-- <div class="text" id="card-{{forloop.counter}}">
        <div class="main_text"><h1 class="main-home-heading">Zaloguj sie do aplikacji i zarządzaj swoimi lekami.</h1></div>
    </div> -->
    <div class="main_text"><h1 class="main-home-heading">Zaloguj sie do aplikacji i zarządzaj swoimi lekami.</h1></div>

{% endblock %}